{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign show_dog_image = false %}
{% if post.dog_image and include.type != "grid" %}
  {% assign show_dog_image = true %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item{% if show_dog_image %} archive__item--dog{% endif %}" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}

    {% if show_dog_image %}
      <div class="archive__item-dog">
        <img src="{{ post.dog_image | relative_url }}" alt="{{ post.dog_image_alt | default: title }}">
      </div>
    {% endif %}

    <div class="archive__item-body">
      <h2 class="archive__item-title no_toc" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% include page__meta.html type=include.type %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </div>
  </article>
</div>
